<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "stock app", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <% if admin_user? %>
            <li><%= link_to "Users", users_path %></li>
          <% end %>
          <li><%= link_to "New Item", '/new_item'%></li>
          <li><%= link_to "Itens", items_path %></li>
          <li><%= link_to "Settings", edit_user_path(current_user) %></li>
          <li><%= link_to "Logout", logout_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'Sign up', signup_path  %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
